<!DOCTYPE html>
<html>
<head>
	<title>Cart page</title>
</head>
<body>	

	<h1>Purchase Done!</h1>
	<br>
	<a href="/logout">Logout</a> 
	<a href="/admin/account">My Account</a>
	<a href="/admin/back">Back</a>
	<br>
</body>
</html>